@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  display: flex;
  list-style: none;
  padding: 10px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.input{
  margin-bottom: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-end

}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #eeeeee;
  
}

.left-links,
.right-links{
  gap: 10px;
}

a{
  text-decoration: none;
  color: gray;
}

body{
 display: flex;
 flex-direction: column;
justify-content: space-between;
}