body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  display:flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  padding-left: 16px;

}

.footer {
  display:flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display:flex;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 175px;
  padding: 16px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.normalflex{
  display:flex;
  gap: 30px;
  align-items: stretch;
  height: 100vh;
}

.thewraps{
  display:flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;

}

