body {
  background: #eee;
  font-family: sans-serif;
}

*{
  font-size: 16px;
}
.card {
  width: 400px;
  height: auto;
  background: #fff;
  margin: 16px auto;
  border: 16px solid white;
  border: content-box;
}

.title {
  background: #e3f4ff;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  width: auto;
  margin: 0 auto;
  border-top: 10px solid white;
  padding: 15px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 20px;
}